<header>
  <h1>
    Blog-This-Tech
  </h1>
</header>
<article class="post" id="single-post">
  <div class="title-strip">
    <div class="title" id="blog-title">
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </div>
    <div class="meta">
      by
      {{post.user.username}}
      on
      {{format_date post.created_at}}
    </div>
  </div>
  <div class="text">{{post.post_text}}</div>
</article>

{{#if loggedIn}}
  <div class="title-strip" id="empty-strip">
  </div>
  <form class="comment-form">

    <div>
      <label for="comment-body">Comment</label>
      <textarea name="comment-body" id="comment-area"></textarea>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}